
img{
    width: 50%;
    height: 250px;
   
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #000000;
    color: white;
  }
.test{
    text-align: center;
    align-items: center;
    justify-content: center;
}